<% provide(:title, @course.name) %>
<div class="row">
  <div class="col-md-12">
    <h1><%= @course.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render partial: 'participants_panel' %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Lectures
      </div>
      <table class="panel-body table table-striped table-bordered table-hover">
        <tbody>
          <% for lecture in @course.lectures do %>
            <tr>
              <td>
                <%= link_to lecture.starts_at, lecture %>
              </td>
              <td>
                <%= lecture.location %>
              </td>
              <td>
                <%= truncate(lecture.description, length: 70) %>
              </td>
              <% if current_user.is_course_teacher?(@course) %>
                <td>
                  <%= link_to edit_lecture_path(lecture), class: "btn btn-primary" do %>
                    <%= fa_icon "edit", text: "Edit" %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <%= render partial: 'data_files/file_panel', locals: { repository: @course } %>
  </div>
</div>
